.navbar-minimize {
    width: 80px;
}
.navbar-minimize .btn, .navbar-minimize .btn:focus, .navbar-minimize .btn:hover{
  color: white
}
.hide-nav-tooltip .tooltip{
  display: none;
}
.content-header{
  border-bottom: 1px solid #CCCCCC;
  padding: 0.5rem 1.5rem;
}
.tool-bar-container {
    display: flex;
    align-items: center;
}
.search-wrapper {
    display: flex;
    width: 17rem;
}
.s-title h4 {
    margin-bottom: 0px;
    font-weight: 400;
    font-size: 1.25rem;
    white-space: nowrap;
    line-height: 2.2rem;
}
.s-title h4 small{
  padding-left: 1.3rem;
}

.search-wrapper .search {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: flex-end;
}
.search-input-box {
    width: 0px;
    overflow: hidden;
    opacity: 0;
}
.search-wrapper .search .btn {
    top: -2px;
    right: 0px;
    color: #000000;
    position: absolute;
    margin: 0px;
}
.search-wrapper .search .btn i {
    font-size: 23px;
}
.search-wrapper.search-open .search .search-btn {
    left: -10px;
    pointer-events: none;
}
.search-wrapper.search-open .search .search-input-box{
  width: 100%;
  opacity: 1
}

.search-wrapper.search-open .search .search-input-box input.form-control {
    padding-left: 42px;
    padding-right: 42px;
}
.search-wrapper.search-open .s-title{
  display: none
}
.filter-btn{
  margin: 0px
}
.dropdown-list{
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}
.dropdown-list li {
    padding: 10px 15px;
}
.dropdown-list li:hover {
    background-color: #eeeeee;
}
.dropdown-list li .form-check{
  margin-bottom: 0px
}
.filter-dropdown{
  min-width: 14rem
}
.dropdown-list li label{
  display: block;
}
.content-wrapper{
  height: 100%;
  display: flex;
  flex-direction: column;
}
.main-content{
  flex: 1;
height: calc(100vh - 128px);
overflow: scroll;
position: relative;
}
.sidebar-mini .menu-overlay{
  display: none;
}
.menu-overlay{
  top: 0;
    left: 80px;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    position: fixed;
    transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    will-change: opacity;
    background-color: rgba(0, 0, 0, 0.54);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
